.mainWrapper {
  margin-top: 16rem;
  margin-bottom: 6rem;
}

.text {
  text-align: center;
  font-size: 1.813em;
  line-height: 1.55;
}

.divider {
  display: block;
  width: 40%;
  border-top: 1px solid var(--primary);
  margin: 4rem auto;
}

.arrows {
  display: block;
  margin: 4rem auto;
}

.stepsWrapper {
  margin-bottom: 4rem;
}