@import '../../variables';

.container {
  @media (min-width: map-get($breakpoints, 'xl')) {
    padding: 0 8rem;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 29px;
  line-height: 1.55;
}

.disclaimer {
  color: #887989;
  margin-bottom: 6rem;
}

.successWrapper {
  display: flex;
  flex-direction: column;
}

.successMsg {
  font-size: 2em;
  text-align: center;
  margin-bottom: 1rem;
}
