.form {
  display: flex;
  flex-direction: column;

  div {
    margin-bottom: 2rem;
  }

  button {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.inputDisclaimer {
  margin-top: .5rem;
}

.loadingWrapper {
  display: flex;
  margin-top: 2rem;
}