@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

// FONT
$font-family: 'Raleway', sans-serif;
$background-color: 'bg-navy-blue-mamba';

@import '~tailwindcss/base';
@import '~tailwindcss/components';
@import '~tailwindcss/utilities';

@layer components {
  .btn-primary {
    @apply rounded-lg bg-green-cyan h-full px-4 py-2 font-bold focus:outline-none focus:ring-1 focus:ring-white;
  }
}

html,
body {
  font-family: $font-family;
  @apply bg-navy-blue-mamba text-white #{!important};
}
