@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

// FONT
$font-family: 'Raleway', sans-serif;
$navy-blue-mamba: #151e25;
$real-dark: #1f2932;
$slate-gray: #75818b;
$white: #fff;
$light-red: #ff718d;

$background-color: 'bg-navy-blue-mamba';

@import './overrides';

@import '~tailwindcss/base';
@import '~tailwindcss/components';
@import '~tailwindcss/utilities';

@layer components {
  .btn-primary {
    @apply rounded-lg bg-green-cyan h-full px-4 py-4 font-bold focus:outline-none;
  }

  .btn-secondary {
    @apply rounded-lg bg-real-dark h-full px-4 py-4 font-bold focus:outline-none;
  }

  .input {
    @apply px-4 py-3 bg-real-dark rounded-lg focus:outline-none focus:ring-1 focus:ring-white;
  }

  .sub-text {
    @apply text-slate-gray text-base lg:text-lg;
  }

  button {
    @apply focus:outline-none
  }
}

html,
body {
  font-family: $font-family;
  scroll-behavior: smooth;
  @apply bg-navy-blue-mamba text-white flex w-screen overflow-x-hidden #{!important};
}

#__next {
  @apply flex flex-col w-full min-h-screen #{!important};
}

.radio-box {
  input:checked + label {
    border: 2px solid #2cc597;
  }
}

// Loader animation
@keyframes loader-rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader {
  border-right-color: transparent;
  animation: loader-rotate 1s linear infinite;
}

// background on autofill
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px $real-dark inset !important;
  -webkit-text-fill-color: white !important;
}
// input arrows
.input[type=number] {
  &::-webkit-inner-spin-button{ display: none; }
  -moz-appearance:textfield;
}

// date icon
::-webkit-calendar-picker-indicator {
  filter: invert(1);
}