@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');

// FILES
@import "variables";

// FONT
$font-family: 'Oswald', sans-serif;

:root {
  --main-bg-color: #{$main-bg-color};
  --header-bg-color: #{$header-bg-color};
  --primary-text-color: #{$primary-text-color};
  --secondary-text-color: #{$secondary-text-color};
  --primary: #{$primary};
  --secondary: #{$secondary};
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: $font-family;
  background: var(--main-bg-color);
  color: var(--primary-text-color);
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-container {
  padding: 2rem;
  margin: 10rem auto 6rem;

  @media (min-width: map-get($breakpoints, 'xl')) {
    width: 80%;
  }

  @media (min-width: map-get($breakpoints, 'xxl')) {
    width: 60%;
  }
}

textarea {
  font-family: inherit;
}