@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

// FONT
$font-family: 'Raleway', sans-serif;
$background-color: 'bg-navy-blue-mamba';

@import '~tailwindcss/base';
@import '~tailwindcss/components';
@import '~tailwindcss/utilities';

@layer components {
  .btn-primary {
    @apply rounded-lg bg-green-cyan h-full px-4 py-4 font-bold focus:outline-none focus:ring-1 focus:ring-white;
  }

  .btn-secondary {
    @apply rounded-lg bg-real-dark h-full px-4 py-4 font-bold focus:outline-none focus:ring-1 focus:ring-white;
  }

  .input {
    @apply px-4 py-3 bg-real-dark rounded-lg focus:outline-none focus:ring-1 focus:ring-white;
  }

  .sub-text {
    @apply text-slate-gray text-base lg:text-lg;
  }
}

html,
body {
  font-family: $font-family;
  scroll-behavior: smooth;
  @apply bg-navy-blue-mamba text-white flex w-screen overflow-x-hidden #{!important};
}

#__next {
  @apply flex flex-col w-full min-h-screen #{!important};
}

.radio-box {
  input:checked + label {
    border: 2px solid #2CC597;
  }
}